<!DOCTYPE html>
<head>
<style>
table {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial sans-serif;
    border-collapse: collapse;
    width: 100%;
}

h1 {
  text-align: center;
  color: lightgrey;
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: center;
    color: lightgrey;
    padding: 8px;
    font-size: 175%;
}
tr:nth-child(even) {
    /*background-color: #dddddd;*/
}
html{
   height: 10%;
}
html, body{
   background-image: url("../assets/callejon.jpeg");
   background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:100%;

}
</style>
</head>

<h1> Casas disponibles </h1>

<table style="width:100%">
   <thead>
      <tr>
         <!-- <th1><strong> Título </strong></th1> -->
         <th> Nombre </th>
         <th> Descripción </th>
         <th> Contacto </th>
         <th> Foto </th>
         <th> Precio </th>

      </tr>
   </thead>

   <tbody>
      <%= @houses.each do |house| %>
      <tr>
         <td> <%= house.title %> </td>
         <td> <%= house.description %> </td>
         <td> <%= house.email %> </td>
         <td> <%= image_tag house.image.url(:medium) %> </td>
         <td> <%= house.price %> </td>
      </tr>
      <% end %>
   </tbody>
</table>
